*
{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Courier New', Courier, monospace;

}

h4{
    text-align: center;
    font-size: 40px;
    font-weight: bold;
    margin: 20px 0;
}

body{
    
    background: radial-gradient(circle, rgba(26,163,165,1) 0%, rgba(67,46,150,1) 100%);
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
}


.container{
    min-height:200px;
    min-width:600px;
    border: 2px solid black;
    background-color:#fefefe;
    border-radius: 5px;
    padding: 30px;
  
}
.answer_btn{
    display: flex;
    flex-direction: column;
    
    gap:30px;
    justify-content: center;
    align-items: center;
}
.container h2{
    font-size:28px;
    font-weight: 500;
    color:orangered;
    text-shadow:0 0 2px black;
    margin-bottom:20px;
}


.container .btn{
    padding:10px 20px;
    border-radius:5px;
    width:100%;
    font-size:1.2rem;
    font-weight: 500;
    color: #333;
    cursor: pointer;

}

.container .btn:hover:not([disabled]){
    background-color: #999;
    color:#fefefe;
    
}
.btn:disabled{
    cursor: no-drop;
}

.container .next-btn{
    width:50%;
    display: block;
    margin: 20px auto;
    padding:10px 20px;
    border-radius: 5px;
    font-size: 1.2rem;
    color: white;
    font-weight: 500;
    cursor: pointer;
    background-color: seagreen;
    transition:.4s;
}

.container .next-btn:hover{
     border:4px solid orange;
     letter-spacing:1px;
     transform: scale(1.03);
}