*
{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;

}

.container{
    height: 100vh;
    width: 100%;
    background: radial-gradient(circle, rgba(159,201,201,.4) 0%, rgba(72,66,93,.7) 100%),url(bg.jpg) no-repeat;
    background-position: center;
    background-size: cover;
    padding-bottom: 10px;
}

.container h2{
    font-size: 50px;
    text-align: center;
    font-weight: 500;
    text-shadow: 1px 1px 3px black;
    color: #fff;
    text-transform: uppercase;
    

}
.profile_box{
    width:400px;
    min-height:120px;
    display: flex;
    justify-content: center;
    margin: 30px auto;
    background-color: transparent;
    border-radius:7px;
    padding: 25px;
    align-items: center;
    border: 2px solid #fffefe;
    box-shadow: inset 0 0 15px 10px white;
    flex-wrap: wrap;
    
   

}

.profile_box input,textarea{
    padding:8px 20px;
    width:100%;
    height: 35px;
    margin:10px 0px;
    color: brown;
    font-size: 1;
    
}

.form-controls label,label{
   font-size: 23px;
   color: white;
   font-family:'Courier New', Courier, monospace;
   font-weight: 500;
}


#btn{
    padding: 10px 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    background-color: seagreen;
    color: #fff;
    width: 100%;
    border-radius: 5px;
    border: none;
    font-size:1.2rem;
    letter-spacing: 1px;
    transition: .4s;


}
#btn:hover{
    background:chocolate;
    color: black;
}

#check{
    position: absolute;
    top: 50%;
    right:10%;
    padding:10px 20px;
    display: flex;
    align-items: center;
    cursor: pointer;
    font-size: 1rem;
    color: brown;
    border-radius: 5px;
   
    border: none;
}

#check:hover{
    box-shadow: 0 0  4px 2px white;
}
#check a{
    text-decoration: none;
}
#check i{
    margin-left:5px;
    transition: .3s;
    font-size:20px;
    
}

#check:hover i{
    transform: translate(5px,0px);
    
}




.container2{
    min-height: 100vh;
    width: 100%;
    padding: 20px;
    background-color:rgb(1, 1, 39);
    color: #fefefe;
  
   
   
}
.profileBox{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    padding:30px;
    margin: 20px auto;
    gap: 30px;
    
   
}
.profile{
    min-height:100px;
    min-width: 330px;
    max-width: 350px;
    border:2px solid rgb(255, 255, 255);
    padding:20px;
    margin-bottom: 30px;
    text-align: left;
    margin-left:30px;
    text-align: center;
    line-height: 1.5;
    border-radius: 10px;
    
}

.profile img{
    width:100%;
    border-radius:5%;
    border:1px solid rgb(255, 255, 255);
    box-shadow: 0 0 5px 2px beige; 
    margin: 0 auto;
    display: block;
    margin-bottom:15px;
}

.profile .btn{
  padding:10px 20px;
  width: 100%;
  background: seagreen;
  border: none;
  font-size: 20px;
  color: #fff;
  cursor: pointer;
  margin-bottom:15px;
  transition:.3s;
}

.profile .btn:hover{
    background-color: brown;
}